# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.log

# Entornos
.venv/
env/
venv/

# Django / proyecto
db.sqlite3
media/
staticfiles/

# IDE / editor
.vscode/
.idea/

# SO
.DS_Store
Thumbs.db

# Migrations cache
**/__pycache__/

ADR.md
