# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
*.log

# Entorno virtual
.venv/
env/
venv/

# Django
db.sqlite3
media/
staticfiles/

# VSCode / IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Migrations cache (mantén las migraciones, solo ignora cachés)
**/__pycache__/
